body {
  background-image: url('default-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#joke-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#joke-content {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: gold;
  text-shadow: 2px 2px 2px black;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(191, 237, 38, 0.1);
}
